{{ define "headerblock" }}

  <section class="section narrow cp layouts-chargepointid-single-headerblock">
 {{ partial "header.html" . }}

      <div class="languageselector">
        <a href="#de">DEUTSCH</a> | <a href="#en">ENGLISH</a> |
        <a href="#fr">FRANÇIS</a>
      </div>
  </section>

{{ end }}


{{ define "main" }}
  <section class="section narrow cp layouts-chargepointid-single-mainblock">

      <div class="content">
        {{ .Content }}
      </div>

      <div id="nl" class="box">
        <div>
          <img src="/images/icons_nl.svg" class="language" >
        </div>
        <h2 class="plugline upper">{{ partial "chargepoint/plugline.html" . }}</h2>
        {{ partial "chargepoint/nl-adress.html" . }}
        {{ partial "chargepoint/nl-data.html" . }}
        {{ partial "chargepoint/nl-tel.html" . }}
        {{ partial "chargepoint/nl-tekst.html" . }}
        {{ partial "chargepoint/nl-download.html" . }}
        {{ partial "chargepoint/payoff.html" . }}
      </div>

      <div id="de" class="box">
        <img src="/images/icons_de.svg" class="language" />
        <h2 class="plugline upper">{{ partial "chargepoint/plugline.html" . }}</h2>
        {{ partial "chargepoint/de-adress.html" . }}
        {{ partial "chargepoint/de-data.html" . }}
        {{ partial "chargepoint/de-tel.html" . }}
        {{ partial "chargepoint/de-text.html" . }}
        {{ partial "chargepoint/de-download.html" . }}
        {{ partial "chargepoint/payoff.html" . }}
      </div>

      <div id="en" class="box">
        <img src="/images/icons_en.svg" class="language" />
        <h2 class="plugline upper">{{ partial "chargepoint/plugline.html" . }}</h2>
        {{ partial "chargepoint/en-adress.html" . }}
        {{ partial "chargepoint/en-data.html" . }}
        {{ partial "chargepoint/en-tel.html" . }}
        {{ partial "chargepoint/en-text.html" . }}
        {{ partial "chargepoint/en-download.html" . }}
        {{ partial "chargepoint/payoff.html" . }}
      </div>

      <div id="fr" class="box">
        <img src="/images/icons_fr.svg" class="language" />
        <h2 class="plugline upper">{{ partial "chargepoint/plugline.html" . }}</h2>
        {{ partial "chargepoint/fr-adress.html" . }}
        {{ partial "chargepoint/fr-data.html" . }}
        {{ partial "chargepoint/fr-tel.html" . }}
        {{ partial "chargepoint/fr-tekst.html" . }}
        {{ partial "chargepoint/fr-download.html" . }}
        {{ partial "chargepoint/payoff.html" . }}
      </div>
    </article>
  </section>
{{ end }}

{{ define "footer" }}
  {{ partial "chargepoint/cpfooter.html" . }}
{{ end }}