<div class="downlaod">
  <h2>Laden Sie unsere App</h2>
  <div class="f-container">
    <div class="apple">
      <h3>Apple App Store</h3>
      <p>
        <a href="https://apps.apple.com/de/app/laadpaal-app/id906693086">
          <img
            src="/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"
            alt="download from AppStore"
          />
        </a>
      </p>
    </div>
    <div class="google">
      <h3>Google PlayStore</h3>
      <p>
        <a
          href="https://play.google.com/store/apps/details?id=com.lastmilesolutions.mobapp&hl=de&gl=DE"
        >
          <img
            src="/images/google-play-badge_de.svg"
            alt="download from PlayStore"
          />
        </a>
      </p>
    </div>
  </div>
</div>
