<div class="data">
  <h2>Ihr Plug-Tarif an diesem Ladepunkt ist:<sup>*</sup></h2>
  <table>
    <tr>
      <td>Preis pro [kWh]</td>
      <td>{{ .Params.kwh }}</td>
      <td>EUR</td>
    </tr>

    <tr>
      <td>8:00-22:00</td>
      <td>{{ .Params.priceperminute }}</td>
      <td>EUR/Minute</td>
    </tr>

    <tr>
      <td>Einmalige Gebühr:</td>
      <td>{{ .Params.onetimefee }}</td>
      <td>EUR</td>
    </tr>
  </table>
  <p class="warning hanging">
    <sup>*</sup> Bitte beachten! Einige Ladekartenanbieter wenden ihre eigenen
    Tarife an. Darauf haben wir leider keinen Einfluss.
  </p>
</div>
