<div class="data">
  <h2>Your PLUQ rate at this charging point is:<sup>*</sup></h2>
  <table>
    <tr>
      <td>Price [kWh]</td>
      <td>{{ .Params.kwh }}</td>
      <td>EUR</td>
    </tr>

    <tr>
      <td>8:00-22:00</td>
      <td>{{ .Params.priceperminute }}</td>
      <td>EUR/minute</td>
    </tr>

    <tr>
      <td>one time fee:</td>
      <td>{{ .Params.onetimefee }}</td>
      <td>EUR</td>
    </tr>
  </table>
  <p class="warning hanging">
    <sup>*</sup> Please note! Some charge card providers apply their own rates.
    Unfortunately, we have no influence on this.
  </p>
</div>
