<div class="download">
  <h2>Download our App</h2>
  <div class="f-container">
    <div class="apple">
      <h3>from App Store</h3>
      <p>
        <a href="https://www.apple.com/app-store/">
          <img
            src="/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"
            alt="download from AppStore"
          />
        </a>
      </p>
    </div>
    <div class="google">
      <h3>Google PlayStore</h3>
      <p>
        <a href="https://play.google.com">
          <img
            src="/images/google-play-badge_en.svg"
            alt="download from
          PlayStore"
          />
        </a>
      </p>
    </div>
  </div>
</div>
