<div class="download">
  <h2>Téléchargez notre application</h2>
  <div class="f-container">
    <div class="apple">
      <h3>sur l'AppStore</h3>
      <p>
        <a href="https://www.apple.com/app-store/">
          <img
            src="/images/Download_on_the_App_Store_Badge_FR_RGB_blk_100517.svg"
            alt="download from AppStore"
          />
        </a>
      </p>
    </div>
    <div class="google">
      <h3>Google Play Store</h3>
      <>
        <a href="https://play.google.com">
        <img
          src="/images/google-play-badge_fr.svg"
          alt="download from PlayStore"
        />
        </a>
      </p>
    </div>
  </div>
</div>
