<div class="data">
  <h2>Votre tarif de PLUQ à ce point de charge est:<sup>*</sup></h2>
  <table>
    <tr>
      <td>Prix [kWh]</td>
      <td>{{ .Params.kwh }}</td>
      <td>EUR</td>
    </tr>

    <tr>
      <td>Minute:</td>
      <td>{{ .Params.priceperminute }}</td>
      <td>EUR par minute</td>
    </tr>

    <tr>
      <td>après:</td>
      <td>{{ .Params.priceperminute }}</td>
      <td>minutes</td>
    </tr>

    <tr>
      <td>frais unique:</td>
      <td>{{ .Params.onetimefee }}</td>
      <td>EUR</td>
    </tr>
  </table>
  <p class="warning hanging">
    <sup>*</sup> Veuillez noter ! Certains fournisseurs de carte de recharge
    appliquent leurs propres taux. Malheureusement, nous n'avons aucune
    influence sur ce point.
  </p>
</div>
