<div class="data">
  <h2>Het PLUQ-tarief op dit laadpunt is: <sup>*</sup></h2>
  <table>
    <tr>
      <td>Prijs [kWh]</td>
      <td class="tds">{{ .Params.kwh }}</td>
      <td>EUR</td>
    </tr>

    <tr>
      <td>Per minuut:</td>
      <td class="tds">{{ .Params.priceperminute }}</td>
      <td>EUR/minute</td>
    </tr>

    <tr>
      <td>na:</td>
      <td class="tds">{{ .Params.priceperminute }}</td>
      <td>minuten</td>
    </tr>

    <tr>
      <td>Starttarief</td>
      <td class="tds">{{ .Params.onetimefee }}</td>
      <td>EUR eenmalig</td>
    </tr>
  </table>
  <p class="warnin hanging">
    <sup>*</sup> Let op! Sommige laadpasaanbieders hanteren hun eigen tarieven.
    Helaas hebben wij hier geen invloed op.
  </p>
</div>
