<div class="download">
  <h2>Download onze app</h2>
  <div class="f-container">
    <div class="apple">
      <h3>in de App Store</h3>
      <p>
        <a href="https://www.apple.com/app-store/">
          <img
            src="/images/Download_on_the_App_Store_Badge_NL_RGB_blk_100317.svg"
            alt="download from AppStore"
          />
        </a>
      </p>
    </div>
    <div class="google">
      <h3>Google PlayStore</h3>
      <p>
        <a href="https://play.google.com">
          <img
            src="/images/google-play-badge_nl.svg"
            alt="Download from Goolge play store"
          />
        </a>
      </p>
    </div>
  </div>
</div>
