<html>
  {{ partial "head/head.html" . }}


  <body class="line-numbers layouts-_default-baseof">
    {{ $script := resources.Get "js/initColors.js" }}
    <script src="{{ $script.RelPermalink }}"></script>

    <div class="layout-styled">
      <div class="pagewrapper">
        {{ block "headerblock" . }}
        {{ end }}

        {{ block "main" . }}
        {{ end }}

        {{ block "footer" . }}
        {{ end }}

      </div>
    </div>
    {{ $script := resources.Get "js/prism.js" }}
    <script src="{{ $script.RelPermalink }}"></script>
  </body>
</html>
